.hero-img
{
    display: flex;
    background: url(/steklo/img/hero.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 800px;
    align-items: center;
}

.hero
{
    /* display: ; */
    position: absolute;
    bottom: 5rem;
    right: 10rem;
    width: 33rem;
    text-align: end;
    background-color: #ede1e3a4;
    padding: 2rem 1rem 2rem 0;
    border: 1px solid #ede1e379;
    border-radius: 20px;
    z-index: 2;
}

.quote
{
    font-family: Misto;
    font-size: 3rem;
    line-height: normal;
}
.name, .who
{
    font-family: Comfortaa;
}
.name
{
    border-top: 2px solid #292929;
    padding: 10px 0 0 0;
    font-size: 2.2rem;
    display: inline-block;
    line-height: normal;
}
.who
{
    display: inline-block;
    font-size: 1rem;
    color: #29292980;
}
